@model HorseModel

@{
    ViewData["Title"] = "Delete";
}
<h2>Удалить лошадь?</h2>
<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Уникальный номер
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class = "col-sm-2">
            Кличка
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nickname)
        </dd>
        <dt class = "col-sm-2">
            Пол
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Sex)
        </dd>
        <dt class = "col-sm-2">
            Дата рождения
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DOB)
        </dd>
        <dt class = "col-sm-2">
            Владелец лошади
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HorseOwner.Name)
        </dd>
    </dl>
    
    <form asp-action="DeleteHorse">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Удалить" class="btn btn-danger" /> |
        <a asp-action="Index">Обратно в профиль</a>
    </form>
</div>
