@model IEnumerable<CompetitionModel>
@{
    ViewData["Title"] = "Home Page";
}
@foreach (var item in Model) {
    <div class="card border-dark">
      <div class="row">
        <div class="col">
            <div class="card-header h4">
                    @Html.DisplayFor(modelItem => item.Name)
            </div>
          <div class="card-body">
                <p class="card-text">@Html.DisplayFor(modelItem => item.Description)</p>
          </div>
        </div>
        <div class="col-md-3">
          <img src="/Imgs/horse.png" class="img-fluid rounded-start" style="max-width:270px;" alt="...">
          <a class="btn btn-primary" style="width: 250px">Стать участником</a>
        </div>
      </div>
      <div class="align-content-center">
      </div>
      <div class="row">
            <p class="card-text" style="margin-bottom: 10px; margin-left:10px;"><small class="text-muted">Дата соревнования: @Html.DisplayFor(modelItem => item.Date)</small></p>
      </div>
      <div class="row">
            <p class="card-text" style="margin-bottom: 10px; margin-left:10px;"><small class="text-muted">Место проведения: @Html.DisplayFor(modelItem => item.Ippodrom.Address)</small></p>
      </div>
      <div class="row">
            @if (item.Recruiting)
            {
                <p class="card-text" style="margin-bottom: 10px; margin-left:10px;"><small class="text-muted">Набор ведется: Да</small></p>
            }
            else
            {
                <p class="card-text" style="margin-bottom: 10px; margin-left:10px;"><small class="text-muted">Набор ведется: Нет</small></p>
            }
      </div>
      <div class="row">
            <p class="card-text" style="margin-bottom: 10px; margin-left:10px;"><small class="text-muted">Дата публикации: @Html.DisplayFor(modelItem => item.PublicationDate)</small></p>
      </div>
    </div>
}
