@model IEnumerable<HorseOwnerModel>

@{
    ViewData["Title"] = "Horse owners";
}

<h1>Владельцы лошадей</h1>
<table class="table">
    <thead>
        <tr>
            <th>
                ФИО
            </th>
            <th>
                Адрес
            </th>
            <th>
                Телефон
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Phone)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Редактировать</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Подробнее</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Удалить</a>
            </td>
        </tr>
}
    </tbody>
</table>
