@model CompetitionTicketModel

@{
    ViewData["Title"] = "Details";
}

<h1>Подробнее</h1>
<hr />
<div>
    <dl class="row">
        <dt class = "col-sm-2">
            Название турнира
        </dt>
        <dd class = "col-sm-10">
            
            <a asp-area="admin" asp-controller="Competitions" asp-action="Details" asp-route-id="@Model.CompetitionId">@Html.DisplayFor(model => model.Competition.Name)</a>
        </dd>
        <dt class = "col-sm-2">
            Лошадь
        </dt>
        <dd class = "col-sm-10">
            <a asp-area="admin" asp-controller="Horses" asp-action="Details" asp-route-id="@Model.HorseId">@Html.DisplayFor(model => model.Horse.Nickname)</a>
        </dd>
        <dt class = "col-sm-2">
            Жокей
        </dt>
        <dd class = "col-sm-10">
            <a asp-area="admin" asp-controller="Jokeys" asp-action="Details" asp-route-id="@Model.JokeyId">@Html.DisplayFor(model => model.Jokey.Name)</a>
        </dd>
        <dt class = "col-sm-2">
            Результат
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Result)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.TiketId">Редактировать</a> |
    <a asp-action="Index">Обратно к списку</a>
</div>
