@model IEnumerable<CompetitionTicketModel>

@{
    ViewData["Title"] = "Competition Tickets";
}

<h1>Competiton tickets</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TiketId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Competition)
            </th>
            <th>
                Horse Id
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Jokey)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Result)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TiketId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Competition.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Horse.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Jokey.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Result)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.TiketId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.TiketId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.TiketId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
