@model IEnumerable<CompetitionTicketModel>

@{
    ViewData["Title"] = "Competition Tickets";
}

<h1>Участие в соревнованиях</h1>

<p>
    <a asp-action="Create">Добавить новую запись</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Уникальный номер
            </th>
            <th>
                Название турнира
            </th>
            <th>
                Лошадь
            </th>
            <th>
                Жокей
            </th>
            <th>
                Результат
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TiketId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Competition.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Horse.Nickname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Jokey.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Result)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.TiketId">Редактировать</a> |
                <a asp-action="Details" asp-route-id="@item.TiketId">Подробнее</a> |
                <a asp-action="Delete" asp-route-id="@item.TiketId">Удалить</a>
            </td>
        </tr>
}
    </tbody>
</table>
