@model CompetitionModel

@{
    ViewData["Title"] = "Details";
}

<h3>Подробнее о соревновании</h3>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Название
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            Дата проведения
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Date)
        </dd>
        <dt class = "col-sm-2">
            Ипподром
        </dt>
        <dd class = "col-sm-10">
            <a asp-area="admin" asp-controller="Ippodroms" asp-action="Details" asp-route-id="@Model.IppodromId">@Html.DisplayFor(model => model.Ippodrom.Address)</a>
        </dd>
        <dt class = "col-sm-2">
            Дата публикации
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PublicationDate)
        </dd>
        <dt class = "col-sm-2">
            Описание
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            Фото
        </dt>
        <dd class = "col-sm-10">
            @if (Model.ImageData != null && Model.ImageData.Length > 0)
            {
                    <img src="@Url.Action("GetImage", "Home", new { id = Model.Id })", class="img-thumbnail" />
            }
            else
            {
                <p>Нет фото</p>
            }
        </dd>
        <dt class = "col-sm-2">
            Набор ведется
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Recruiting)
        </dd>
        
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Редактировать</a> |
    <a asp-action="Index">Обратно</a>
</div>
