@model IEnumerable<HorseModel>

@{
    ViewData["Title"] = "Horses";
}

<h1>Лошади</h1>

<p>
    <a asp-action="Create">Добавить новую</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Уникальный номер
            </th>
            <th>
                Кличка
            </th>
            <th>
                Пол
            </th>
            <th>
                Дата рождения
            </th>
            <th>
                Владелец
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nickname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sex)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DOB)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HorseOwner.Name)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Редактировать</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Подробнее</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Удалить</a>
            </td>
        </tr>
}
    </tbody>
</table>
